# Series

---
**Series** is **one-dimensional** labeled array structures that stores homogeneous data i.e., data of single type. 

All the elements of series are **value-mutable** and **size-immutable**

---

In other words, **Series** is a **one-dimensional labeled array** capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

**s = pd.Series(data, index=index)**

Here, data can be many different things:

*   a Python dict
*   an ndarray
*   a scalar value (like 5)

---

The passed index is a list of axis labels. Thus, this separates into a few cases depending on **what data is:**

---

In [0]:
import numpy as np
import pandas as pd

In [8]:
# Create a Series from ndarray

arr = np.array([10,20,30,40,50])

s = pd.Series(arr)

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
# index the rows
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

a   -1.439503
b    0.259271
c   -1.686991
d    0.699954
e    0.518298
dtype: float64

In [15]:
# Creating a Series from a Python dictionary (dict)
data = {"a":10, "b":20, "c":30}

s = pd.Series(data)
print(s)

a    10
b    20
c    30
dtype: int64

In [19]:
# # Creating a Series from a Python List

li = [10, 20.5, 2j, "abc"]

s = pd.Series(li)
print(s)

0      10
1    20.5
2      2j
3     abc
dtype: object

**Creating Series from scalar value**

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index.

---

Example1:

In [21]:
s = pd.Series(5.0, index=('a','b','c','d','e'))

print(s)

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

**Accessing Data from a Series:**

---

**Slicing:** Retrieving a part of the series using slicing.

Series acts very similarly to a ndarray, and is a valid argument to most NumPy functions. However, operations such as slicing will also **slice the index**.

--- 

Example:

In [23]:
arr = ([10,20,30,40,50])
s = pd.Series(arr)

print(s)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [31]:
# slicing or slice of index
print(s[2:4])
print(s[:5])
print(s[1:])

2    30
3    40
dtype: int64
0    10
1    20
2    30
3    40
4    50
dtype: int64
1    20
2    30
3    40
4    50
dtype: int64

In [38]:
# Reverse the series
print(s[::-1])

4    50
3    40
2    30
1    20
0    10
dtype: int64

Access Series is **dict-like**


---


A Series is like a fixed-size dict in that you can get and set values by index label:

In [39]:
data = {'a':10, 'b':20, 'c':30}
s = pd.Series(data)
print(s)

print(s['a']) #Accessing index value assign key

a    10
b    20
c    30
dtype: int64
10

**Vectorized operations and label alignment with Series**

In [40]:
print (s + s) #Addition of two series

print(s*2) #Multiplication of two series

print(np.exp(s)) #Exponential value

a    20
b    40
c    60
dtype: int64
a    20
b    40
c    60
dtype: int64
a    2.202647e+04
b    4.851652e+08
c    1.068647e+13
dtype: float64

**Name attribute**

Series can also have a name attribute:


---

Example:

In [42]:
s = pd.Series(np.random.randn(5), name='something')
print(s)

0    2.227480
1    1.494229
2    1.102612
3   -0.345154
4   -1.807866
Name: something, dtype: float64

In [44]:
# You can rename a Series with the pandas.Series.rename() method.
s2 = s.rename("different")
print(s2)

0    2.227480
1    1.494229
2    1.102612
3   -0.345154
4   -1.807866
Name: different, dtype: float64